.anim-underline {
  display: inline-block;
  position: relative;
  color: black; }
  .anim-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.333s cubic-bezier(0.215, 0.61, 0.355, 1);
    /* easeOutCubic */ }
  .anim-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; }

.w-100 {
  width: 100%; }

.w-75 {
  width: 75%; }

.w-50 {
  width: 50%; }

.w-25 {
  width: 25%; }

.ml-0 {
  margin-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.mt-3 {
  margin-top: 3rem; }

.mb {
  margin-bottom: 24px; }

.mb-1 {
  margin-bottom: 16px; }

.mb-2 {
  margin-bottom: 24px; }

.mb-3 {
  margin-bottom: 32px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-bottom {
  border-bottom: 1px solid black; }

.cursor-hover {
  cursor: pointer; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.align-center {
  align-items: center; }

.color-white {
  color: white; }

.text-bold {
  font-weight: 600; }

.text-uppercase {
  text-transform: uppercase; }

.cursor {
  position: fixed;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 10;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  cursor: default !important; }
  .cursor.active {
    opacity: 1;
    transform: scale(0); }
  .cursor.menu-active {
    opacity: 1;
    transform: scale(0); }
  .cursor.hovered {
    opacity: 1; }

.cursor-follower {
  position: fixed;
  background-color: transparent;
  border: 2px solid #1b5df9;
  opacity: .4;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 10;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  transform: translate(2px, 2px); }
  .cursor-follower.active {
    opacity: 1;
    transform: scale(3); }
  .cursor-follower.menu-active {
    opacity: 1;
    transform: scale(3); }
  .cursor-follower.hovered {
    opacity: 1; }

* {
  font-family: "Manrope", sans-serif;
  color: #202527;
  max-width: 1400px;
  margin: 0 auto; }

body {
  background-color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.03rem;
  margin-bottom: 16px;
  z-index: 1000; }
  h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    cursor: default; }

p {
  font-size: 18px;
  letter-spacing: 0.03rem;
  line-height: 25px; }

h1 {
  font-weight: 400;
  font-size: 64px; }

h2 {
  font-weight: 400;
  font-size: 48px; }

h3 {
  font-weight: 600;
  font-size: 32px; }

.title-stagger {
  opacity: 0; }

.h2-color {
  opacity: 0; }

.btn-primary {
  border: none;
  border-bottom: 1px solid;
  padding: 0 0 8px 0;
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
  display: flex;
  align-items: center; }

.btn-secondary {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 32px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border-radius: 50px; }

.container {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex-direction: row;
  margin: 0 auto; }

.col {
  flex: 1; }

.col-6 {
  flex: 6; }

.nav-item {
  list-style-type: none;
  margin: 16px;
  padding-bottom: 8px; }

#hero .row {
  overflow: hidden;
  height: 100px;
  padding: 15px 0; }

header {
  position: fixed;
  top: 16px;
  width: 100vw; }

.title-stagger {
  transform: translateY(100px); }

.home {
  background: linear-gradient(180deg, #FFFFFF 0%, #F4F4F4 22.87%); }

.work {
  z-index: 2; }
  .work .cs {
    z-index: 2;
    margin-bottom: 90px; }
    .work .cs .bg-yellow {
      background: linear-gradient(0deg, rgba(255, 247, 37, 0.1), rgba(255, 247, 37, 0.1)), #FFFFFF; }
    .work .cs .cs-image {
      z-index: 2;
      display: flex;
      padding: 4px;
      width: 800px;
      height: 400px;
      overflow-x: hidden; }
      .work .cs .cs-image .display-image {
        z-index: 2;
        object-fit: cover;
        filter: drop-shadow(0px 100px 80px rgba(28, 28, 28, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(28, 28, 28, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(28, 28, 28, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(28, 28, 28, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(28, 28, 28, 0.0282725));
        height: 90%; }
    .work .cs .cs-container {
      z-index: 1;
      position: relative;
      left: 117px;
      top: -8%;
      display: inline-block; }
      .work .cs .cs-container .cs-summary {
        z-index: 1;
        width: 670px; }
  .work .cs-bg {
    z-index: -1 !important;
    border: 2px solid white;
    width: 100vw;
    height: 70vh;
    position: fixed;
    top: 96px; }
    .work .cs-bg .bg-text {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: -56px;
      transform: translateY(-50%);
      text-transform: uppercase;
      color: white;
      opacity: 1;
      font-size: 200px;
      letter-spacing: 0.145em;
      font-weight: 600; }

.about {
  background-color: #1c1c1c; }
