.hero {
    position: relative;
    height: 100vh;
    
    h1 {
        position:absolute;
        z-index: 10;
        bottom: 25%;
    }
}


.scroll-notif {
    position: absolute;
    bottom: 20%;
    right: 10%;

    .star {
        position: absolute;
        width: 25px;
        top:8px;
    }
    span {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        position: absolute;
        white-space: nowrap;
        top: 0;
        left:8px;
        transform-origin: 0 0;
        transform: translateX(20px) rotate(-30deg);
    }
}

.hero-bg {
    position: absolute;
    width: 100%;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: flex-end;

    .hero-bg-img {
        margin: 0;
        &--1 { 
            @extend .hero-bg-img;
            width:180px;
            height:200px;
            background: url(/img/filler/pexels-anastasia-zhenina-10916.jpg);
            background-size: cover;
            margin-right:8px;
        }
        &--2 {
            @extend .hero-bg-img;
            width:220px;
            height:250px;
            background: url(/img/filler/pexels-arthouse-studio-4329787.jpg);
            background-size: cover;
            margin-right: 30%;
        }
        &--3 {
            @extend .hero-bg-img;
            width:220px;
            height:250px;
            background: url(/img/filler/pexels-dominika-roseclay-2286678.jpg);
            background-size: cover;
            margin-right:8px;
        }
        &--4 {
            @extend .hero-bg-img;
            width:425px;
            height:340px;
            background: url(/img/filler/pexels-jv-gardens-339887.jpg);
            background-size: cover;
        }
    }
}





.title-stagger {
    
    transform: translateY(100px);
}

.home {
    background: linear-gradient(180deg, #FFFFFF 0%, #F4F4F4 22.87%);
}

.work {
    z-index: 2;
    .cs { 
        position: relative;
        z-index: 2;
        margin-bottom:20%;
        .bg-yellow {
            background: linear-gradient(0deg, rgba(255, 247, 37, 0.1), rgba(255, 247, 37, 0.1)), #FFFFFF;
        }
        .cs-image {
            z-index: 5;
            display: flex;
            width: 100%;
            overflow-y:hidden;
            margin-bottom: -2%;
            height: 425px;
            width: 69%;

            &--1 {
                @extend .cs-image;
                object-fit:cover;
                background: url(/img/display/lemonaid.jpg);
                background-size: cover;
                background-position: center bottom;

            }

            &--2 {
                @extend .cs-image;
                object-fit:cover;
                background: url(/img/display/display-rms.jpg);
                background-size: cover;
                background-position: center bottom;
            }

            &--3 {
                @extend .cs-image;
                object-fit:cover;
                background: url(/img/display/display-nce.jpg);
                background-size: cover;
                background-position: center bottom;
            }

            &--4 {
                @extend .cs-image;
                object-fit:cover;
                background: url(/img/display/display-zoe.jpg);
                background-size: cover;
                background-position: center bottom;
            }
        }
        .cs-container {
            z-index:1;
            position: relative;
            left: 117px;
            top: -12%;
            display: inline-block;
            .cs-summary {
                z-index: 1;
                width: 670px;
            }
        }

    }
        .cs-bg {
        z-index: -1 !important;
        border: 4px solid white;
        width: 100vw;
        height: 70vh;
        position: fixed;

        top: 96px;
        .bg-text {
            opacity: 1;
            z-index: 1;
            position:absolute;
            top: 50%;
            left: -56px;
            transform: translateY(-50%);
            text-transform: uppercase;
            color:white;
            font-size: 200px;
            letter-spacing: 0.145em;
            font-weight: 600;

            &--1,
            &--2,
            &--3,
            &--4 {
                @extend .bg-text;
            }

        }
    }
}

.about {
    background-color: $color-darkgrey;

    span {
        color: white;
    }
}

section { margin-bottom: 3em; }
.highlight { color: $color-accent; }

/////////////////////
