#hero {
    .row {
        overflow:hidden;

        height:100px;
        padding: 15px 0;
    }
}

header {
    position: fixed;
    top: 16px;
    width: 100vw;
}

.title-stagger {
    
    transform: translateY(100px);
}

.home {
    background: linear-gradient(180deg, #FFFFFF 0%, #F4F4F4 22.87%);
}

.work {
    z-index: 2;
    .cs { 
        z-index: 2;
        margin-bottom:90px;
        .bg-yellow {
            background: linear-gradient(0deg, rgba(255, 247, 37, 0.1), rgba(255, 247, 37, 0.1)), #FFFFFF;
        }
        .cs-image {
            z-index: 2;
            display: flex;
            padding: 4px;
            width: 800px;
            height: 400px;
            overflow-x: hidden;


            .display-image { 
                z-index: 2;
                object-fit:cover;
                filter: drop-shadow(0px 100px 80px rgba(28, 28, 28, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(28, 28, 28, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(28, 28, 28, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(28, 28, 28, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(28, 28, 28, 0.0282725));
                // margin-left: 32px;
                height: 90%;
            }
        }
        .cs-container {
            z-index:1;
            position: relative;
            left: 117px;
            top: -8%;
            display: inline-block;
            .cs-summary {
                z-index: 1;
                width: 670px;
            }
        }
    }
        .cs-bg {
        z-index: -1 !important;
        border: 2px solid white;
        width: 100vw;
        height: 70vh;
        position: fixed;

        top: 96px;
        .bg-text {
            z-index: 2;
            position:absolute;
            top: 50%;
            left: -56px;
            transform: translateY(-50%);
            text-transform: uppercase;
            color:white;
            opacity: 1;
            font-size: 200px;
            letter-spacing: 0.145em;
            font-weight: 600;
        }
    }
}

.about {
    background-color: $color-darkgrey;
}
