.w-100 { width: 100%; }
.w-75 { width: 75%; }
.w-50 { width: 50%; }
.w-25 { width: 25%; }

.ml-0 { margin-left: 0 !important; }

.mr-0 { margin-right: 0 !important; }

.mt-0 { margin-top: 0; }

.mb-0 { margin-bottom: 0; }

.mt-3 { margin-top: 3rem; }

.mb { margin-bottom: 24px; }
.mb-1 { margin-bottom: $spacing-sm; }
.mb-2 { margin-bottom: $spacing-med; }
.mb-3 { margin-bottom: $spacing-lg; }

.float-left { float: left; }

.float-right { float: right;}

.border-bottom { border-bottom: 1px solid black; }

.cursor-hover { cursor: pointer; }

.d-flex { display: flex; }
.d-block {display: block; }
.d-inline-block { display: inline-block; }

//** FLEX ALIGNMENT **//
.align-center { align-items: center; }

//** TEXT **//
.color-white { color: white; }
.text-bold { font-weight: 600; }
.text-uppercase { text-transform: uppercase; }