$color-accent: #1b5df9;
$color-white: #ffffff;
$color-darkgrey: #1c1c1c;

$font-family-primary: 'Manrope', sans-serif;
$font-color-primary: #202527;

$bg-color-primary: #e2dfdf;

$spacing-sm: 16px;
$spacing-med: 24px;
$spacing-lg: 32px;

$max-screen-width: 1400px;